{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if msg %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
</div>
{%endif%}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<div style="text-align: center;" class="c-card formField">
    <h3 style="height: 5rem;" class="fivePercentMargin text-center">Change Password</h3>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">{{ field.label}}</label>
            <div class="col-sm-5">
                {{ field }}
            </div>

            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <!-- {{ form.as_p }} -->
        <button type="submit" style="width: 9rem;" class="btn btn-primary fivePercentMargin">Submit</button>
    </form>
</div>
{% endblock %}