{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/formField.css' %}">
{% if msg %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
</div>
{%endif%}
<div style="text-align: center;" class="formField">
    <h2 class="fivePercentMargin">Edit Profile</h2>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">{{ field.label}}</label>
            <div class="col-sm-9">
                {{ field }}
            </div>

            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}

        <button type="submit" style="width: 13rem;margin-top: 5px;" class="btn btn-primary">Submit</button>
    </form>
    <!-- {{ msg }} -->
    <form action="{% url 'changePassword_view' %}" method="GET">
        <button type="submit" style="width: 13rem;margin-top: 8px; margin-bottom: 20px;" class="btn btn-warning">Change
            Password</button>
    </form>
    <!-- {{ msg }} -->

</div>
{% endblock %}