{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if msg %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
</div>
{%endif%}
<link rel="stylesheet" href="{% static 'css/formField.css' %}">
<div style="text-align: center;" class="formField">
    <h2 class="fivePercentMargin signup">Sign up</h2>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}

        <div class="form-group row form">
            <label for="staticEmail" class="col-sm-3 col-form-label">{{ field.label}} </label>
            <div class="col-sm-9">
                {{ field }}
                <a href="{% url 'help' %}"><small style="float: right;">{{field.help_text}}</small></a>
            </div>

            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary s-submit fivePercentMargin">Submit</button>
    </form>
    {{ msg }}
</div>
{% endblock %}