{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}?{% now 'U' %}">
<div class="container">
    <div class="filterBox">
        <div class="FilterHeading">
            <h4 style="text-align: center;"> Filter Problems</h4>
        </div>
        <div class="rangeBox">
            <form method="POST" action="" id="form">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <b>Difficulty :</b>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Min" name="minPts" value="0">
                    </div>
                    <div class="col" style="max-width: fit-content;"> - </div>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Max" name="maxPts" value="5000">
                    </div>
                    <div class="col">
                        <label for="tags">Tags:</label>
                        <select name="tags" form="form">

                            <option value="combine-tags-by-or" title="*combine tags by OR">*combine tags by OR</option>
                            <option value="2-sat" title="2-satisfiability">2-sat</option>
                            <option value="binary search" title="Binary search">binary search</option>
                            <option value="bitmasks" title="Bitmasks">bitmasks</option>
                            <option value="brute force" title="Brute force">brute force</option>
                            <option value="chinese remainder theorem" title="Сhinese remainder theorem">chinese
                                remainder theorem</option>
                            <option value="combinatorics" title="Combinatorics">combinatorics</option>
                            <option value="constructive algorithms" title="Constructive algorithms">constructive
                                algorithms</option>
                            <option value="data structures"
                                title="Heaps, binary search trees, segment trees, hash tables, etc">data structures
                            </option>
                            <option value="dfs and similar" title="Dfs and similar">dfs and similar</option>
                            <option value="divide and conquer" title="Divide and Conquer">divide and conquer</option>
                            <option value="dp" title="Dynamic programming">dp</option>
                            <option value="dsu" title="Disjoint set union">dsu</option>
                            <option value="expression parsing" title="Parsing expression grammar">expression parsing
                            </option>
                            <option value="fft" title="Fast Fourier transform">fft</option>
                            <option value="flows" title="Graph network flows">flows</option>
                            <option value="games" title="Games, Sprague–Grundy theorem">games</option>
                            <option value="geometry" title="Geometry, computational geometry">geometry</option>
                            <option value="graph matchings"
                                title="Graph matchings, König's theorem, vertex cover of bipartite graph">graph
                                matchings</option>
                            <option value="graphs" title="Graphs">graphs</option>
                            <option value="greedy" title="Greedy algorithms">greedy</option>
                            <option value="hashing" title="Hashing, hashtables">hashing</option>
                            <option value="implementation"
                                title="Implementation problems, programming technics, simulation">implementation
                            </option>
                            <option value="interactive" title="Interactive problem">interactive</option>
                            <option value="math" title="Mathematics including integration, differential equations, etc">
                                math</option>
                            <option value="matrices"
                                title="Matrix multiplication, determinant, Cramer's rule, systems of linear equations">
                                matrices</option>
                            <option value="meet-in-the-middle" title="Meet-in-the-middle">meet-in-the-middle</option>
                            <option value="number theory" title="Number theory: Euler function, GCD, divisibility, etc">
                                number theory</option>
                            <option value="probabilities"
                                title="Probabilities, expected values, statistics, random variables, etc">probabilities
                            </option>
                            <option value="schedules" title="Scheduling Algorithms">schedules</option>
                            <option value="shortest paths" title="Shortest paths on weighted and unweighted graphs">
                                shortest paths</option>
                            <option value="sortings" title="Sortings, orderings">sortings</option>
                            <option value="string suffix structures"
                                title="Suffix arrays, suffix trees, suffix automatas, etc">string suffix structures
                            </option>
                            <option value="strings"
                                title="Prefix- and Z-functions, suffix structures, Knuth–Morris–Pratt algorithm, etc">
                                strings</option>
                            <option value="ternary search" title="Ternary search">ternary search</option>
                            <option value="trees" title="Trees">trees</option>
                            <option value="two pointers" title="Two pointers">two pointers</option>
                        </select>
                    </div>



                    <div class="col" style=" padding-left: 5rem;">
                        <button type="submit" class="btn btn-primary fivePercentMargin">Apply</button>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <table class="table table-bordered" style="width: 95%;">
        <thead>
            <tr>
                <th scope="col">Contest</th>
                <th scope="col">Problem ID</th>
                <th scope="col">Problem Name</th>
                <th scope="col">Rating</th>
                <th scope="col">Submit</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
            <tr>
                <th scope="row">{{ problem.contestID }}</th>
                <td>{{ problem.index }}</td>
                <td>{{ problem.name }}</td>
                <td>{{ problem.rating }}</td>
                <td><a href={{ problem.link }} target="_blank" class="btn btn-primary">Try</a></td>
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}