{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<div class="container" style="margin-top: 5%;">

    {% if not updated %}
    <h4 class='text-center'> Leaderboard is not updated yet!</h4>
    {% endif %}
    <table class="l-table">
        <thead class="l-table-head">
            <tr class="l-table-head-row row">
                <th scope="col" class="col-2 text-center">Rank</th>
                <th scope="col" class="col-5 text-center">User Name</th>
                <th scope="col" class="col-5 text-center">Rating</th>
            </tr>
        </thead>
        <tbody class="l-table-body">
            {% for user in users %}
            <tr class="l-table-body-row row">
                <th scope="row" class="col-2  text-center">{{ user.rank }}</th>
                <td class="col-5 text-center"><a href="{% url 'profile' user.username %}">{{ user.username }}</a></td>
                <td class="col-5 text-center">{{ user.rating }}</td>
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}