{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">

<div class="container" style="margin-top: 5%;">

    {% if not updated %}
    <p> Leaderboard is not updated yet!</p>
    {% endif %}
    <table class="l-table">
        <thead class="l-table-head">
            <tr class="l-table-head-row row">
                <th scope="col" class="col-2">Rank</th>
                <th scope="col" class="col-5">User Name</th>
                <th scope="col" class="col-5">Rating</th>
            </tr>
        </thead>
        <tbody class="l-table-body">
            {% for user in users %}
            <tr class="l-table-head-row row">
                <th scope="row" class="col-2">{{ user.rank }}</th>
                <td class="col-5"><a href="{% url 'profile' user.username %}">{{ user.username }}</a></td>
                <td class="col-5">{{ user.rating }}</td>
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}