.container {
    margin-left: auto;
    margin-right: auto;
    
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

/************************COMPONENTS*********************************/
.btn{
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    -webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    -moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    /* background-color: #4CAF50; */
}



/********************* BASE *****************/
.navbar-custom{
     /* height: 60px; */
     padding-top: 0.6rem;
     padding-bottom: 0.6rem;
     padding-left: 2rem;
     padding-right: 4rem;
     background-color:#2884D9;
     box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.38);
-webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.38);
-moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.38);
}
.nav-link{
    color: rgb(214, 237, 255) !important;
    font-family: Helvetica;
    /* font-weight: bold; */
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;

}
.nav-link:hover{
    color: rgb(255, 255, 255) !important;
}



/********************* FILTER *************************/


.filterBox {
    width: 95%;
    height: 10rem;
    border-color: rgba(38,132,220,0.85);
    border-width: 3px;
    border-style: solid;
    margin-bottom: 20px;
    margin-top: 40px;
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
-webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
-moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    
}


.FilterHeading {
    padding-top: 1%;
    padding-bottom: 0.25%;
    background-color: rgba(38,132,220, 0.65);

}

.rangeBox {
    padding-left: 3rem;
    padding-right: 4rem;
    padding-top: 2rem;
}

.difficulty-text{
    position: relative;
    top: 20%;
}
.difficulty-input{
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.07);
    -webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.07);
    -moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.07);
}

.inactive{
    content:"...";
    display: block;
}

.btn-apply{
    position: relative;
    top:10%;

}




/**************** TAGS ************************/
/* .tag{
    display: flex;
    justify-content: space-between;
} */
.tag-text{
    position: relative;
    top: 20%;
}


/*************** TABLE************************/
.table{
    border: 2px solid rgba(38,132,220,0.75);
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
-webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
-moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
}
.table-head{
    background-color: rgba(38,132,220, 0.65);
    height: 3.5rem;
}
.table-row{
    
    
}

.t-border{
    border: 2px solid rgba(38,132,220,0.65) !important;
    
   
   
}
.t-border-row{
    padding-top: 12px !important;
    padding-bottom: 3px !important;
}

.t-border-head{
    font-size:16.6px;
    font-weight: 600;
    padding-bottom: 12px !important;
}



/*****************  PAGINATION *******************/

.pagination{
    justify-content: center;
    
    
}
.page-link{
    color: #0c6eca;
}

.pagi-active{
    background-color:#1f8aee;
    /* border: 2px solid rgba(4, 94, 179, 0.65); */
}



/********** END OF PAGINATION *****************/
