.container {
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
  justify-content: center; */
    
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

/************************COMPONENTS*********************************/
.btn{
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    -webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    -moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    /* background-color: #4CAF50; */
}



/********************* BASE *****************/
.navbar-custom{
     /* height: 60px; */
     padding-top: 0.6rem;
     padding-bottom: 0.6rem;
     padding-left: 2rem;
     padding-right: 4rem;
     background-color:#2884D9;
     box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.38);
-webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.38);
-moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.38);
}
.nav-link{
    color: rgb(214, 237, 255) !important;
    font-family: Helvetica;
    /* font-weight: bold; */
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;

}
.nav-link:hover{
    color: rgb(255, 255, 255) !important;
}



/********************* FILTER *************************/


.filterBox {
    width: 95%;
    height: 9.6rem;
    border-color: rgba(38,132,220,0.85);
    border-width: 3px;
    border-style: solid;
    margin-bottom: 20px;
    margin-top: 40px;
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
-webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
-moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    
}


.FilterHeading {
    padding-top: 1%;
    padding-bottom: 0.25%;
    background-color: rgba(38,132,220, 0.65);

}

.rangeBox {
    padding-left: 3rem;
    padding-right: 4rem;
    padding-top: 2rem;
}

.difficulty-text{
    position: relative;
    top: 20%;
}
.difficulty-input{
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.07);
    -webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.07);
    -moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.07);
}

.inactive{
    content:"...";
    display: block;
}

.btn-apply{
    position: relative;
    top:10%;

}




/**************** TAGS ************************/
/* .tag{
    display: flex;
    justify-content: space-between;
} */
.tag-text{
    position: relative;
    top: 20%;
}

/*************************DIV MENU*******************************/
.div-link{
    padding-left:24px;
    padding-right:24px;
}




/*************** TABLE************************/
.table{
    border: 2px solid rgba(38,132,220,0.75);
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
-webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
-moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
}
.table-head{
    background-color: rgba(38,132,220, 0.65);
    height: 3.5rem;
}
.table-row{
    
    
}

.t-border{
    border: 2px solid rgba(38,132,220,0.65) !important;
    
   
   
}
.t-border-row{
    padding-top: 12px !important;
    padding-bottom: 3px !important;
}

.t-border-head{
    font-size:16.6px;
    font-weight: 600;
    padding-bottom: 12px !important;
}

.contest-link{

    
    text-decoration: none;
    color:rgb(73, 73, 73);
}
.contest-link:hover{
    text-decoration: none;
    color: rgb(36, 139, 235);
}



/*****************  PAGINATION *******************/

.pagination{
    justify-content: center;
    
    
}
.page-link{
    color: #0c6eca;
}

.pagi-active{
    background-color:#1f8aee;
    /* border: 2px solid rgba(4, 94, 179, 0.65); */
}



/********** END OF PAGINATION *****************/


/*********************************PROFILE************************************/
.d-container{

    margin-left:auto;
    margin-right:auto;
    margin-bottom: 3rem;
    width:60rem;
    
}
.d-profile{
    margin-left: 1.5rem;
    margin-top: 4rem;
    height: 26.5rem;
    border: 3px solid rgba(38,132,220,0.65);
    background-color: rgba(38,132,220,0.55);
}
.d-details{
    margin-left: 1.5rem;
    margin-top: 4rem;
    height: 26.5rem;
    border: 3px solid rgba(38,132,220,0.65);
    
}

.d-profile-pic{
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    background-position:center;
    object-fit:cover;
   
    
}
.d-profile-pic1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.d-row{
    margin: 22px;
    padding-left: 2rem;
    padding-right: 2.4rem;
}
.d-row-1{
    padding-top: 1.3rem;
}

.d-row-p{
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(61, 61, 61,0.33);
}
.d-row-p-head{
    font-weight: bold;
}
.d-btn{
    margin-left: 0.8rem;
    width: 10rem;
    margin-top: 0.3rem;
}
.container1{
    display: flex;
    justify-content:center;
}


/*******************LEADERBOARD************************************/
.l-table{
    /* background-color: antiquewhite; */
    width: 50rem;
    margin: auto;
    
}
@media only screen and (max-width: 900px) {
    .l-table{
        /* background-color: antiquewhite; */
        width: 30rem;
        margin: auto;
        
    }
}

.l-table-head{
    background-color: rgb(77, 77, 77);
    height: 3rem;
    color: white;
}