{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="">
    <h2>Welcome to the contest page</h2>
    <div class="btn-group me-2" role="group" aria-label="Second group">
        <a href="contest/0" class="btn btn-secondary">All </a>
        <a href="contest/1" class="btn btn-secondary">Div. 1 </a>
        <a href="contest/2" class="btn btn-secondary">Div. 2 </a>
        <a href="contest/3" class="btn btn-secondary">Div. 3 </a>
        <a href="contest/4" class="btn btn-secondary">Div. 4 </a>
    </div>
    <h1>Div {{type}} Contest Page</h1>
</div>

<table class="table table-bordered" style="width: 95%;">
    <thead>
        <tr>
            <th scope="col">Contest</th>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
            <th scope="col">E</th>
            <th scope="col">F</th>
            <th scope="col">G</th>
            <th scope="col">H</th>
        </tr>
    </thead>
    <tbody>
        {% for contest in contests %}
        <tr>
            {%if type == '0' %}

            {%if contest.problems.all %}
            <th scope="row">{{ contest.contestID }}</th>
            {% for problem in contest.problems.all %}
            {%if problem in user_solved%}
            {% for solved in user_solved %}
            {% if solved == problem %}
            <td style="background-color: {{solved.color}};">
                <a href={{ problem.link }} target="_blank" class="btn btn-primary">{{ problem.index }}</a>
            </td>
            {% endif %}
            {%endfor%}

            {%else%}
            <td>
                <a href={{ problem.link }} target="_blank" class="btn btn-primary">{{ problem.index }}</a>
            </td>
            {%endif%}

            {% endfor %}
            {% endif %}

            {% else %}

            {%if contest.problems.all and contest.type == type %}
            <th scope="row">{{ contest.contestID }}</th>
            {% for problem in contest.problems.all %}
            {%if problem in user_solved%}
            {% for solved in user_solved %}
            {% if solved == problem %}
            <td style="background-color: {{solved.color}};">
                <a href={{ problem.link }} target="_blank" class="btn btn-primary">{{ problem.index }}</a>
            </td>
            {% endif %}
            {% endfor %}
            {%else%}
            <td>
                <a href={{ problem.link }} target="_blank" class="btn btn-primary">{{ problem.index }}</a>
            </td>
            {%endif%}

            {% endfor %}
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}



</table>
</div>
{% if contests.has_other_pages %}
<ul class="pagination">
    {% if contests.has_previous %}
    <li><a class="btn btn-primary" href="?page={{ contests.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in contests.paginator.page_range %}
    {% if contests.number == i %}
    <li class="active"><span class="btn btn-primary">{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i == 1 or i == 109%}
    <li class="pagination-li"><a class="btn btn-primary" href="?page={{ i }}">{{ i }}</a></li>
    {% elif i == 2 or i == 108 %}
    <li class="inactive"><span class="inactive">...</span></li>
    {% endif %}
    {% endfor %}
    {% if contests.has_next %}
    <li><a class="btn btn-primary" href="?page={{ contests.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}

<a href={{ path }}>Show All</a>
</body>

</html>

{% endblock %}