.container {
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
  justify-content: center; */
    
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

/************************COMPONENTS*********************************/
.btn{
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    -webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    -moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    /* background-color: #4CAF50; */
}


/********************* BASE *****************/
.navbar-custom{
     /* height: 60px; */
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 2rem;
    padding-right: 2.6rem;
    background-color:#2884D9;
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.38);
    -webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.38);
    -moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.38);
}

.nav-link{
    color: rgb(214, 237, 255) !important;
    font-family: Helvetica;
    /* font-weight: bold; */
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;

}
.nav-link:hover{
    color: rgb(255, 255, 255) !important;
}



/********************* FILTER *************************/


.filterBox {
    width: 95%;
    height: 9.6rem;
    border-color: rgba(38,132,220,0.85);
    border-width: 3px;
    border-style: solid;
    margin-bottom: 20px;
    margin-top: 40px;
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
-webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
-moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    
}

@media only screen and (max-width: 900px) {
    .filterBox {
        height: 14.6rem;
    }
}



.FilterHeading {
    padding-top: 1%;
    padding-bottom: 0.25%;
    background-color: rgba(38,132,220, 0.65);

}

.rangeBox {
    padding-left: 3rem;
    padding-right: 4rem;
    padding-top: 2rem;
}

.difficulty-text{
    position: relative;
    top: 20%;
}
.difficulty-input{
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.07);
    -webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.07);
    -moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.07);
}

.inactive{
    content:"...";
    display: block;
}

.btn-apply{
    position: relative;
    top:10%;

}




/**************** TAGS ************************/
/* .tag{
    display: flex;
    justify-content: space-between;
} */
.tag-text{
    position: relative;
    top: 20%;
}

/*************************DIV MENU*******************************/
.div-link{
    padding-left:24px;
    padding-right:24px;
}




/*************** TABLE************************/
.table{
    border: 2px solid rgba(38,132,220,0.75);
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    -webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
    -moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.11);
}
.table-head{
    background-color: rgba(38,132,220, 0.65);
    height: 3.5rem;
}
/* .table-row{
    
    
} */

.t-border{
    border: 2px solid rgba(38,132,220,0.65) !important;
}
.t-border-row{
    padding-top: 12px !important;
    padding-bottom: 3px !important;
}

.t-border-head{
    font-size:16.6px;
    font-weight: 600;
    padding-bottom: 12px !important;
}

.contest-link{
    text-decoration: none;
    /* color:rgb(73, 73, 73); */
    color:#222
}
.contest-link:hover{
    text-decoration: none;
    color: rgb(36, 139, 235);
}



/*****************  PAGINATION *******************/

.pagination{
    justify-content: center;
    
    
}
.page-link{
    color: #0c6eca;
}

.pagi-active{
    background-color:#1f8aee;
    /* border: 2px solid rgba(4, 94, 179, 0.65); */
}



/********** END OF PAGINATION *****************/


/*********************************PROFILE************************************/
.d-container{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 3rem;
    width:60rem;
    
}
.d-profile{
    margin-left: 1.5rem;
    margin-top: 4rem;
    height: 26.5rem;
    border: 3px solid rgba(38,132,220,0.65);
    background-color: rgba(38,132,220,0.6);
}
.dark .d-profile{
    border: 3px solid #5EB1FF;
}
.d-details{
    margin-left: 1.5rem;
    margin-top: 4rem;
    height: 26.5rem;
    border: 3px solid rgba(38,132,220,0.65);
    
}
.dark .d-details{
    border: 3px solid #5EB1FF;
}

.dark .contest-link:hover{
    text-decoration: none;
    color: rgb(36, 139, 235);
}


/* @media only screen and (max-width: 900px) {
    .d-details{
        height: 27.5rem;
    }
} */

.d-profile-pic{
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    background-position:center;
    object-fit:cover;
}
.d-profile-pic1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.d-row{
    margin: 22px;
    padding-left: 2rem;
    padding-right: 2.4rem;
}
.d-row-1{
    padding-top: 1.3rem;
}

.d-row-p{
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(61, 61, 61,0.33);
}
.dark .d-row-p{
    border-bottom: 2px solid rgba(38,132,220,0.65);
}
.d-row-p-head{
    font-weight: bold;
}
.d-btn{
    margin-left: 0.8rem;
    width: 10rem;
    margin-top: 0.3rem;
}
.container1{
    display: flex;
    justify-content:center;
}
.friend-table{
    width: 40rem !important;
}
@media only screen and (max-width: 900px) {

    .friend-table{
        width: 25rem !important;
    }

}




/*******************LEADERBOARD************************************/
.l-table{
    /* background-color: antiquewhite; */
    width: 50rem;
    margin: auto;
}


.l-table-head{
    background-color: rgb(100, 100, 100);
    height: 3rem;
    color: white;
    display: grid;
    align-items: center;
}

.dark .l-table-head{
    background-color: rgba(38,132,220,0.4);
}


.l-table-body-row{
    display: flex;
    align-items: center;
    margin: 13px 0 auto;
    height: 3rem;
    /* background-color: rgb(250, 250, 250);  */
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.06);
    -webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.06);
}

.dark .l-table-body-row{
    background-color: rgba(138, 138, 138, 0.24);
}

@media only screen and (max-width: 900px) {
    .l-table{
        /* background-color: antiquewhite; */
        width: 30rem;
        margin: auto;  
    }
    .friend-table{
        width: 25rem;
    }

}


/*********************************LOGIN************************************/
.login{
    width: 400px;
    margin: auto auto 2rem;
    margin-top: 2rem;
    box-shadow: 0px 2px 25px 2px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 2px 25px 2px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 2px 25px 2px rgba(0,0,0,0.08);
}
.l-input{
    margin: 10px 40px;
}
.submit{
    margin: 40px;
    width: 20rem;
}
.profile-pic{
    margin: 35px 0px auto;
}
.form{
    text-align: left;
    color: rgb(71, 71, 71);
}



/******************SIGNUP*******************************/

.s-submit{
    margin: 40px;
    width: 20rem;
    /* background: rgba(38,132,220,0.9) !important; */
}

.dark .col-form-label{
    color: #ffffff;

}
/**********************Q*******************************/

.q-container{
    margin: auto;
    width: 80vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.code-line{
    /* background-color: rgba(38,132,220,0.5) !important; */
}
.info{
    margin: 2rem;
}

/***********change password***********************/
.c-card{
    margin: auto;
    width: 50vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.submissions {
    margin-bottom: 2%;
}
@media only screen and (max-width: 900px) {
    .c-card{
        /* background-color: antiquewhite; */
        width: 30rem;
        margin: auto;  
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

/*********************************DARK MODE************************************/

.dark{
    background-color: rgba(28,30,47,.88);
    color: #ffffff;
}
.dark .navbar-custom{
    background-color: rgb(35, 38, 52);
    color: #ffffff;
}


.dark .filterBox{
    border:2px solid #5EB1FF;
}
.dark .FilterHeading {
    background-color: rgba(38,132,220, 0.55);
    border-bottom: 2px solid #5EB1FF;

}

.dark .difficulty-input{
    background-color: rgba(138, 138, 138, 0.28);
    color: #ffffff;
    border: none;
}
.dark .search{
    background-color: rgba(138, 138, 138, 0.28);
    color: #ffffff;
    border: none;
}

.dark input::placeholder{
    color:rgba(253, 253, 253, 0.5);
}

.dark .dropdown-item{
    background-color: #222;
    color: #ffffff;;
}



.dark .bootstrap-select .btn{
    background-color: rgba(138, 138, 138, 0.28);
    color: #ffffff;
    border: none;
}
.dark .bootstrap-select .dropdown-menu {
    background-color: rgba(138, 138, 138, 0.28);
    color: #ffffff;
    border: none;
}
.dark .btn-primary{
    background-color: #1b72c4;
    border: none;
}
.dark .btn-primary:hover{
    background-color: rgba(18, 109, 194, 0.55)
}

.dark th{
    
    color: #ffffff; 
}
.dark td{
    
    color: #ffffff; 
}
.dark .table{
    border: 2px solid #5EB1FF;
    box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.21);
    -webkit-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.21);
    -moz-box-shadow: 0px 3px 11px 0px rgba(45,45,45,0.21);
}

.dark .table-head{
    background-color: rgba(38,132,220, 0.55);
    height: 3.5rem;
}


.dark .t-border{
    border: 2px solid #5EB1FF !important;
}


.dark .contestDark {
    
    color: #ffffff; 
}


/***********************************************Toggle*************************************************/
.toggle{
    margin-top: 5px;
    margin-right: 15px;
}
.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .toggle-slot {
    position: relative;
    height: 30px; /*10em;*/
    width: 60px; /*20em;*/
    border: 1px solid #e4e7ec;
    border-radius: 30px; /*10em;*/
    background-color: white;
    /* box-shadow: 0px 10px 25px #e4e7ec; */
    transition: background-color 250ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
  }
  
  .toggle-button {
    transform: translate(35.25px,5.25px); /*(11.75em, 1.75em);*/
    position: absolute;
    height: 19.5px; /*6.5em;*/
    width: 19.5px; /*6.5em;*/
    border-radius: 50%;
    background-color: #ffeccf;
    /* box-shadow: inset 0px 0px 0px 0.75em #ffbb52; */
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    /* box-shadow: inset 0px 0px 0px 0.75em white; */
    transform: translate(5.25px,5.25px); /*(1.75em, 1.75em);*/
  }
  
  .sun-icon {
    position: absolute;
    height: 18px; /*6em;*/
    width: 18px; /*6em;*/
    color: #ffbb52;
  }
  
  .sun-icon-wrapper {
    position: absolute;
    height: 18px; /*6em;*/
    width: 18px; /*6em;*/
    opacity: 1;
    transform: translate(6px,6px)/*(2em, 2em)*/ rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(9px,6px)/*(3em, 2em)*/ rotate(0deg);
  }
  
  .moon-icon {
    position: absolute;
    height: 18px; /*6em;*/
    width: 18px; /*6em;*/
    color: white;
  }
  
  .moon-icon-wrapper {
    position: absolute;
    height: 18px; /*6em;*/
    width: 18px; /*6em;*/
    opacity: 0;
    transform: translate(22px,4px)/*(11em, 2em)*/ rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(36px,6px)/*(12em, 2em)*/ rotate(-15deg);
  }


/************************************************************************************************/
/****************************************************************************************************/





/*************************************landing***************************************************/
.color{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    /* font-family: 'Nunito',sans-serif; */
}
.container-1{
    grid-row: 2/3;
    grid-column: 1/2;
    z-index:10;
}


.section{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-bottom: 3rem;
   
}
@media only screen and (max-width: 700px) {
    .section{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
        width: 100vw;
    }
    .container-1{
        width:100vw;
    }
  }

.section-1{
    height: 85vh;
    margin-bottom: 7rem;
}

.navbar-custom1{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index:11;
    padding-top: 1.2rem;
    padding-bottom: 0.6rem;
    padding-left: 4rem;
    padding-right: 4rem;
    color: rgba(38,132,220,0.9) !important;
    
}
@media only screen and (max-width: 700px) {
    .navbar-custom1{
        display: block;
        width: 100vw;
    }
    .navbar-toggler{
        position: absolute;
        right: 30px !important ;
    }
    .nav-item1{
        padding-top: 1.6rem;
    }
  }
.nav-link1{
    
    font-family: Helvetica;
    /* font-weight: bold; */
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    color: #6a6f77;
}
.nav-link1:hover{
    text-decoration: none;
    color: #414549;
}
.head-1{
    
    margin-top: 90px;
    margin-left:30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:60px;
    color: rgba(38,132,220,1);
}
.head-2{
    margin-left:30px;
    font-family: Helvetica;
    /* font-size:30px; */
    color: #EB8E8E;
    font-weight: 600;
}


.right{
    
    margin:auto;
}
.left{
   
    margin:auto;
    
}
@media only screen and (max-width: 700px) {
    .img-delete{
        display: none;
    }
  }

.heading-1{
    margin-left:2rem;
    margin-top:6rem;
}

/* 
========================
     JOIN BUTTON 
========================
*/
.j-btn{
    margin-left:30px;
    
}


  .join-btn {
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 180px;
    cursor: pointer;
    color: rgba(20, 60, 97, 0.95);

    transition: all 0.5s;
    position: relative;
  }

  .join-btn::before {
    content: 'Join Coding Club';
      color:aliceblue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(20, 60, 97, 0.75);
    transition: all 0.3s;
  }
  .join-btn:hover::before {
    opacity: 0 ;
    color: rgba(20, 60, 97, 0.95);
    transform: scale(0.5,0.5);
  }
  .join-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    
    border: 2px solid rgba(20, 60, 97, 0.75);
    transform: scale(1.2,1.2);
  }
  .join-btn:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }




  /* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
/* .wrapper {
    z-index:10;
  } */
  
  /* Style the Un-order list by setting its list-style to none */
  .wrapper ul {
    list-style: none;
    /* display: block; */
  }
  
  /* Style the list items inside the UL list, by setting its width, height and line-height 
    and float them to left and set its border and border-radius.
   */
  .wrapper ul li {
    width: 36px;
    height: 36px;
    line-height: 33px;
    margin: 0 7px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1.8px solid rgba(38,132,220,0.8);
    float: left;
    transition: all 0.5s ease;
  }
  
  /* Style the icons by setting its color and margin-top value to 20px 
  to align it properly */
  .wrapper ul li .fa {
    color: rgba(38,132,220,0.8);
    transition: all 0.5s ease;
  }
  
  /* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
    to icons for glowing effect and use transition property for smooth transition effect. */
  /*facebook*/
  .wrapper ul li:hover.icon {
   background:rgba(38,132,220,0.8);
    /* box-shadow: 0 0 5px #3b5998; */
    transition: all 0.5s ease;
  }

  .wrapper ul li:hover .fa {
    color: #fff;
    /* text-shadow: 0 0 5px #3b5998; */
    transition: all 0.5s ease;
  }
  
  
  .footer{
      padding: 1.5rem;
      grid-row:3/4;
      background-color:#6c7a85;
      color: #fff;
  }




  /*******************************CIRCLES*************************************************/

  .area{
    /* background: #4e54c8;   */
    /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
    width: 100%;
    height:100vh;
   
    grid-row: 2/3;
    grid-column: 1/2;
    z-index:0;
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(159, 236, 250, 0.5);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 25px;
    height: 25px;
    animation-delay: 4s;
    animation-duration: 8s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 6s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 60px;
    height: 60px;
    animation-delay: 4s;
    animation-duration: 7s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 40px;
    height: 40px;
    animation-delay: 9s;
    animation-duration: 8s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 5s;
    animation-duration: 13s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 7s;
    animation-duration: 10s;
}

.circles li:nth-child(10){
    left: 90%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(11){
    left: 70%;
    width: 40px;
    height: 40px;
    animation-delay: 3s;
    animation-duration: 6s;
}
.circles li:nth-child(12){
    left: 80%;
    width: 35px;
    height: 35px;
    animation-delay: 2s;
    animation-duration: 14s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 10%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}