
{% extends 'base1.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'formField.css' %}">
    <div style="text-align: center;" class = "formField">
        <h2 class="fivePercentMargin">Login</h2>
        <form class="form-signin" action="{% url 'login' %}" method="post" >
            {% csrf_token %}
            <div style="padding: 4px;">
            <input type="text" id="username" name="username" class="form-control" placeholder="Email address" required="" autofocus="">
            </div>
            <div style="padding: 4px;">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="" >
            </div>
            <button class="btn btn-success btn-block fivePercentMargin" type="submit"><i class="fas fa-sign-in-alt"></i> Log in</button>
            
            <br>
            <!-- <p>Don't have an account!</p>  -->
            
            <a href="/signup"><button class="btn btn-primary btn-block " type="button" id="btn-signup" formaction="{% url 'signup' %}" ><i class="fas fa-user-plus" ></i> Sign up New Account</button></a>
        </form>
    </div>

{% endblock %}