{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/password.css' %}">
<div class='container text-center c'>
    <img src="{% static 'imgs/thumbupBatman.gif' %}" alt="alt text" style="width: 50%; margin-bottom: 3%;">

    <h4>Password Reset Complete</h4>
    <div style="color : #808080">
        <p>Your password has been set. You may go ahead and log in now.</p>
    </div>

    <a href="{% url 'login' %}" class="btn btn-primary" width="10rem">Log in</a>
</div>
{% endblock %}