{% extends 'base1.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/resetForm.css' %}">
<div class='container text-center'>
    <h4>Enter New Password</h4>
    <div style="color : #808080">
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    </div>

    <form method="post">

        {% csrf_token %}
        {% for f in form %}
            <div style="float: center;">
            {{ f.label }}
            </div>
            <div style="float: center;">
            {{ f }}
            </div>
            {% for error in f.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <input type="Submit" name="Update Password" class = "btn btn-primary">
    </form>
</div>
{% endblock %}