{% extends 'base1.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/password.css' %}">
<div class='container text-center'>
    <h4>Password Reset</h4>
    <br>
    <div style="color : #808080">
        <p>Forgotten your password? </p>
        <p>Enter your <b>email address</b> below, and we’ll email instructions for setting a new one.</p>
    </div>
    <br>
    <form method="post">

        {% csrf_token %}
        {% for f in form %}
            {{ f }}
        {% endfor %}
        
        <br>
        <input type="Submit" class="btn btn-primary s-submit" name="Send email">


    </form>
</div>
{% endblock %}