{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="">
    <h2>Welcome to the contest page</h2>
    <h1>Contest Page</h1>
</div>

<table class="table table-bordered" style="width: 95%;">
    <thead>
        <tr>
            <th scope="col">Contest</th>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
            <th scope="col">E</th>
            <th scope="col">F</th>
            <th scope="col">G</th>
            <th scope="col">H</th>
        </tr>
    </thead>
    <tbody>
        {% for contest in contests %}
        <tr>
            {%if contest.problems %}
            <th scope="row">{{ contest.contestID }}</th>
            {% for problem in contest.problems %}
            <td><a href={{ problem.link }} target="_blank" class="btn1 btn-primary1">{{ problem.index }}</a></td>
            <!-- <td>{{ problem.index }}</td> -->
            {% endfor %}
            <!-- <td>{{ problem.index }}</td>
                <td>{{ problem.name }}</td>
                <td>{{ problem.rating }}</td> -->
            {% endif %}
        </tr>
        {% endfor %}

</table>
</div>
</body>

</html>

{% endblock %}