{% extends 'base.html' %}

{% load static %}
{% load my_filters %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}?{% now 'U' %}">

<div class="container">


    <div class="btn-group me-2 div-menu" style="margin-top: 3rem; margin-bottom: 2rem;" role="group"
        aria-label="Second group">
        <a href="{% url 'contest_page_all' %}" class="btn btn-secondary div-link">All </a>
        <a href="{% url 'contest_page' 1 %}" class="btn btn-secondary div-link">Div. 1 </a>
        <a href="{% url 'contest_page' 2 %}" class="btn btn-secondary div-link">Div. 2 </a>
        <a href="{% url 'contest_page' 3 %}" class="btn btn-secondary div-link">Div. 3 </a>
        <a href="{% url 'contest_page' 4 %}" class="btn btn-secondary div-link">Div. 4 </a>
    </div>
    <div class="contest-heading " style="margin-bottom: 2rem;">
        {% if type == '0' %}
            <h2>All Contests</h2>
        {% else %}
            <h2>Div {{type}} Contests</h2>
        {% endif %}
    </div>

    <table class="table table-bordered" style="width: 95%; empty-cells: show;">
        <thead>
            <tr class="table-head">
                <th scope="col" class="t-border t-border-head text-center">Contest</th>
                <th scope="col" class="t-border t-border-head text-center">A</th>
                <th scope="col" class="t-border t-border-head text-center">B</th>
                <th scope="col" class="t-border t-border-head text-center">C</th>
                <th scope="col" class="t-border t-border-head text-center">D</th>
                <th scope="col" class="t-border t-border-head text-center">E</th>
                <th scope="col" class="t-border t-border-head text-center">F</th>
                <th scope="col" class="t-border t-border-head text-center">G</th>
                <th scope="col" class="t-border t-border-head text-center">H</th>
            </tr>
        </thead>
        <tbody>
            {% for contest in contests %}
            <tr class="table-row">
                
                
                <th scope="row" class="t-border t-border-row text-center">{{ contest.contestID }}</th>
                {% for problem in contest.problems.all reversed %}

                    <td class="t-border t-border-row text-center" 
                    {%if problem in user_solved %}
                        style= "background-color: rgb(144, 211, 144);"

                    {% elif problem in user_not_solved %}
                        style="background-color: rgb(250, 153, 153);"

                    {%endif%} >
                        <a href={{ problem.link }} target="_blank" class="contest-link contestDark" >{{ problem.name }}</a>
                    </td>
                    
                {% endfor %}
                
                {% for e in contest.empty|range %}
                    <td class="t-border t-border-row text-center" > - </td>
                {% endfor %}
                
                
            </tr>
            {% endfor %}



    </table>
</div>
<div>
    {% if contests.has_other_pages %}
    <ul class="pagination">
        {% if contests.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ contests.previous_page_number }}">&laquo;
                Previous</a></li>
        {% else %}
        <li class="page-item disabled "><button type="button" class="page-link" disabled><span>&raquo;
                    Previous</span></button>
        </li>
        {% endif %}
        {% for i in contests.paginator.page_range %}
        {% if contests.number == i %}
        <li class="page-item active pagi-active"><span class="page-link">{{ i }} <span
                    class="sr-only">(current)</span></span>
        </li>
        {% elif i == 1 or i == contests.paginator.num_pages%}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% elif i == 2 or i == ls %}
        <li class="page-item"><button type="button" class="page-link" disabled><span>...</span></button></li>
        {% endif %}
        {% endfor %}
        {% if contests.has_next %}
        <li class="page-item"><a class="page-link " href="?page={{ contests.next_page_number }}">&raquo;
                Next</a>
        </li>
        {% else %}
        <li class="page-item disabled "><button type="button" class="page-link" disabled><span>&raquo;
                    Next</span></button>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
</div>

</body>

</html>

{% endblock %}